<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-5">Some products!</h1>
      <p class="lead">This is a list of products, you didn't expect it right?</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4" *ngFor="let p of products">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title">{{p.name}} ({{p.category}})</h5>
        <p class="card-text">{{p.description}}</p>
        <a href="#" class="card-link">See more></a>
      </div>
    </div>
  </div>
</div>
